img{
	height: 15em;
}

.media{
	background-color: gray;
}

.alignButton{
	float: right;
}

.myrow button{
	display: flex;
	width: 10%;
}

.mycolor{
	background-color: black;
}

.navbarcolor{
	background-color: #303030;
}

.navbarcolor a{
	font-size: 2rem;
}

#row{
	display: flex;
	justify-content: space-between;
}
